*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --input-focus-border-color:#9C5C7D;
  --input-focus-box-shadow-color: #9C5C7D;
  --primary-color: #5F4B8B;
  --secondary-color: #9C5C7D;
  --white-color: #ffffff;
  --button-hover-color: #9C5C7D;
  --card-bg-color: #ffffff;
  --text-color: #ffffff;
  --global-font-family:gilroy, sans-serif;
  --global-font-size:14px;
}

body {
  background: linear-gradient(135deg, var(--primary-color), var(--secondary-color)); /* Applying global gradient */
  font-family: gilroy, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
