.input-label {
    display: block;
    /* Ensures the label takes full width */
    text-align: left;
    /* Aligns the text to the right */
}

.input-group-tag {
    position: relative;
    /* background-color: red; */
}

.password-toggle-icon {
    position: absolute;
    top: 50%;
    /* Vertically center */
    right: 2%;
    transform: translateY(-50%);
    /* Center icon vertically */
    cursor: pointer;
    z-index: 5;
}
/* .form-control:focus{
    border-color: #a3c4bc !important;
    box-shadow: 0 0 0 0.1rem #8ebdb1 !important;
  } */

  .form-control:focus {
    border-color: var(--input-focus-border-color) !important;
    box-shadow: 0 0 0 0.1rem var(--input-focus-box-shadow-color) !important;
  }

.input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0.375rem !important;
    border-bottom-right-radius: 0.375rem !important;
}